@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;


  --color-primary: #1F6F65;
  --color-primary-content: #FFFFFF;
  --color-secondary: #FFC107;
  --color-secondary-content: #212529;
  --color-accent: #17A2B8;
  --color-accent-content: #FFFFFF;
  --color-base-100: #FFFFFF;
  --color-base-200: #F8F9FA;
  --color-base-300: #E9ECEF;
  --color-base-content: #343A40;
  
}

@plugin "daisyui/theme" {
  name: "dark";
  default: false;

  
  --color-primary: #1F6F65;
  --color-primary-content: #FFFFFF;
  --color-secondary: #FFD700;
  --color-secondary-content: #1A1A1A;
  --color-accent: #20C997;
  --color-accent-content: #1A1A1A;
  --color-base-100: #1A1A1A;
  --color-base-200: #282828;
  --color-base-300: #3A3A3A;
  --color-base-content: #E0E0E0;
}



body {
  font-family: "Nunito Sans", sans-serif;
}

.active {
  color: #FFC107;
  border-bottom: 2px solid #FFC107;
}